Source: blockcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@blockcoin.org>
Uploaders: Holger Schinzel <holger@blockcoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.blockcoin.org/
Vcs-Git: git://github.com/blockcoinpay/blockcoin.git
Vcs-Browser: https://github.com/blockcoinpay/blockcoin

Package: blockcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Blockcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Blockcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Blockcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, blockcoind, and the CLI tool
 blockcoin-cli to interact with the daemon.

Package: blockcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Blockcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Blockcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Blockcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Blockcoin-Qt, a GUI for Blockcoin based on Qt.

Package: blockcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Blockcoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Blockcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Blockcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides blockcoin-tx, a command-line transaction creation
 tool which can be used without a blockcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
